<section id="register">
    <div class="form">
      <h2>Register</h2>
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="register-form">
        <input
          type="text"
          name="email"
          id="register-email"
          placeholder="email"
          ngModel
          #inputEmail="ngModel"
          required
        />
        <input
          type="password"
          name="password"
          id="register-password"
          placeholder="password"
          ngModel
          #inputPassword="ngModel"
          required
        />
        <input
          type="password"
          name="re-password"
          id="repeat-password"
          placeholder="repeat password"
          ngModel
          #inputRePassword="ngModel"
          required
        />
        <button type="submit">register</button>
        <p class="message">Already registered? <a routerLink="/auth/login">Login</a></p>
      </form>
    </div>
    </section>
