<h2>All strollers</h2>
<section>
  <form class="search">
      <div class="form-group">
          <input type="text" name="search" id="search" placeholder="Search Stroller" #filter>
          <button class="search-btn" (click)="search(filter.value)" routerLink="/search">
              <img class="search-img" src="../../../assets/image/search-icon.png">
          </button>
      </div>
  </form>
  </section>

    <section *ngIf="filteredList.length > 0">
    <app-search
    *ngFor="let stroller of filteredList"
    [stroller]="stroller"
    >
    </app-search>
    </section>


    <app-loader *ngIf="!strollersList"></app-loader>


    <section *ngIf="filteredList.length <= 0">
    <section *ngFor="let stroller of strollersList" id="dashboard" >
        <div class="product">
            <img src="{{stroller.image}}"/>
            <p class="title">
              {{stroller.brand}}
            </p>
            <p>Mounth: {{stroller.mounth}}</p>
            <p>Price:<span class="price">{{stroller.price}}</span>Euro per day</p>
            <a class="details-btn" routerLink="/stroller/{{stroller?.key}}">Details</a>
          </div> 
    </section>
  </section>
    
