<h2>All strollers</h2>

<section>
  <form class="search">
      <div class="form-group">
          <input type="text" name="search" id="search" placeholder="Search Stroller" [(ngModel)]="searchText">
          <button class="search-btn" (click)="search()" >
              <img class="search-img" src="../../../assets/image/search-icon.png">
          </button>
      </div>
  </form>

    <app-loader *ngIf="!strollersList"></app-loader>
        
    <div *ngIf="filteredList.length === 0" class="notFound">
      No results found
    </div>
    
        <section *ngFor="let stroller of paginatedData" id="dashboard">
          <div class="product">
            <img src="{{stroller.image}}"/>
            <p class="title">
              {{stroller.brand | translate}}
            </p>
            <p>Mounth: {{stroller.mounth}}</p>
            <p>Price:<span class="price">{{stroller.price}}</span>Euro per day</p>
            <a class="details-btn" routerLink="/stroller/{{stroller?.id}}">Details</a>
          </div> 
        </section>

        
</section>
<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1"><<<</button>
  <span>{{ currentPage }} of {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">>>></button>
</div>
