<section id="register">
    <div class="form">
      <h2>Reset password</h2>
      <form [formGroup]="resetPasswordForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)" class="reset-form">
        
        <input
          type="password"
          formControlName="newPassword"
          id="register-password"
          placeholder="password"
          required
          minlength="6" 
          maxlength="25"
        />
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)" class="alert">
          <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">
              <p>Password is required</p>
          </div>
          <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">
              <p>Password should be at least 6 characters long</p>
          </div>
          <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['maxlength']">
              <p>Password should be no more than 25 characters long</p>
          </div>
      </div>

        <input
          type="password"
          formControlName="re-password"
          id="repeat-password"
          placeholder="repeat password"
          required
          />
        <!-- <div *ngIf="inputRePassword.invalid && inputPassword.dirty" class="alert">
              <div *ngIf="inputRePassword.errors?.['required']">
                  <p>Repeat password is required</p>
              </div>
              <div *ngIf="inputRePassword.errors?.['pattern']">
                  <p>Password and repeat password don't match</p>
              </div>
        </div> -->

        <button type="submit">Reset</button>
        <p class="message">Already registered? <a routerLink="/auth/login">Login</a></p>
      </form>
    </div>
    </section>
