.shoppingCart {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#details-wrapper {
  background-color: white;
  margin: 0 auto;
  height: 35%;
  width: 25%;
  border: 2px ridge rgb(210, 208, 208);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

#rentBtn {
  text-align: center;
}

#details-wrapper img {
  display: block;
  margin: 5px auto;
  height: 20vh;
  width: 20vh;
}

#details-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#details-category {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

#details-price {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}


#details-description {
  width: 85%;
  margin: 30px auto;
  height: auto;
  text-align: center;
}


h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 19px;
}

span {
  font-size: 17px;
}

#action-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  
}

#action-buttons a {
  text-decoration: none;
  margin: auto 50px;
  font-size: 21px;
  width: 130px;
  padding: 10px;
  text-align: center;
  color: white;
  background: rgb(231, 103, 124);
  border-radius: 5px;
}

.rent-btn {
  text-decoration: none;
  font-size: 20px;
  width: 160px;
  border-radius: 3px;
  text-align: center;
  color: white;
  background: rgb(231, 103, 124);
  margin: 2px;
  padding: 0 3px;
}

@media screen and (min-width:450px) and (max-width:1156px) {
  #details-wrapper img {
    display: block;
    height: 20vh;
    width: 20vh;
  }
 }