<header>
    <a id="logo" href="/"
      ><img id="logo-img" src="../../../assets/image/collection-baby-carriage-cliparts-6.png" alt=""
    /></a>
  
    <nav>
      <div>
        <span class="form-inline">
          <select
          class="form-control"
          #selectedLang
          (change)="switchLang(selectedLang.value)">
      <option *ngFor="let language of translate.getLangs()"
      [value]="language"
      [selected]="language === translate.currentLang">
      {{language}}
      </option></select>
      </span>
      </div>
      <div>
        <a routerLink="/stroller/catalog">{{'products' | translate}}</a>
      </div>

      <div *ngIf="isLoggedIn" class="user">
        <div class="profile">
          <a routerLink="/auth/profile/{{userId}}">{{'profile' | translate}}</a>
          <a (click)="logout()">{{'logout' | translate}}</a>
        </div>
        <div class="card">
          <app-cart-bar></app-cart-bar> 
        </div>
        
      </div>
    
      <div *ngIf="!isLoggedIn" class="guest">
        <a routerLink="/auth/login">{{'login' | translate}}</a>
        <a routerLink="/auth/register">{{'register' | translate}}</a>
      </div>
    </nav> 
    
</header>

