.user-profile {
    background: rgb(248, 231, 234);
    max-width: 980px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .user-profile {
    margin-bottom: 50px;
    font-size: 30px;
  }

  section button {
    font-family: 'Alkalami', serif;
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    outline: 0;
    background: rgb(231, 103, 124);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    
  }
  section button:hover,
  section button:active,
  section button:focus {
    background: #bd2c2c;
  }

  #details-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px ridge rgb(210, 208, 208);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  }

  #details-wrapper h1 {
    padding-bottom: 15px;
  }

  .img {
    width: 21vw;
    height: 50vh; 
  }
  
  #details-wrapper img {
    height:16vw;
  }

  .myStrollers .product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-right: 10px; */
    vertical-align: top;
    margin-top: 10px;
  }

  .brand {
    margin-top: 0;
    text-decoration: underline;
  }