<section id="user-profile-page" class="user-profile">
    <app-loader *ngIf="!currentUser"></app-loader>
    <article class="user-info">
        <div class="user-content">
            <p>Email: {{currentUser?.email}}</p>
        </div>
    </article>
    <div id="details-wrapper">

        <h1>My rent strollers</h1>
        <div class="myStrollers">
            <div *ngIf="haveRentStroller" class="products">
                <div *ngFor="let stroller of currentUser?.rent" class="product">
                    <p class="brand">{{stroller.brand}}</p>
                    <div class="img">
                        <img class="details-img" src="{{stroller.image}}">
                    </div>
                    <a class="delete-btn" (click)="onDelete(stroller.id)">Delete</a>
                </div>
            </div>
        </div>

        <div *ngIf="!haveRentStroller">
            <p class="no-memes">You don`t have rent stroller.</p>
        </div>
    </div>
</section>