/* nav {
  height: 0px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
  
} */

svg {
  height: 20px;
}

nav a {
  font-size: 1.5rem;
  color: rgb(240, 14, 52);
  font-weight: 400;
}

#cart {
  
  text-decoration: none;
  
}