#home {
    background-color: rgb(245, 219, 223);
  }

  #home img {
    display: block;
    margin: auto;
    height: auto;
    width: 50%;
    background-color: transparent;
  }
  
  #home h2,
  #home h3 {
    font-style: italic;
    font-size: 23px;
    color: rgb(240, 14, 52);;
    text-align: center;
    margin: 5px;
  }

  #home h3 a{
    font-style: italic;
    font-size: 23px;
    color: rgb(240, 14, 52);;
    text-align: center;
  }

  @media screen and (min-width:450px) and (max-width:1200px) {
    #home img {
      display: block;
      margin: auto;
      min-height: 74%;
      min-width: 52%;
    }

    #home h2,
    #home h3 {
    margin: 32px;
  }


  }

